.dataHome{
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom: 1px solid black;
    height:14rem;
}

.dataHome >p:first-child{
    font-size:1.7rem;
    flex:30%;
    text-align: center;
    font-weight:600;
}
.dataHome >p:nth-child(2){
    font-size:1.5rem;
    flex:15%;
    text-align: center;
}
.dataHome >p:nth-child(4){
    font-size:1.5rem;
    flex:20%;
    text-align: center;
}
.dataHome a {
    flex:28%;
}

.dataHome a >img{
    height:10rem;
    width: 100%; 
}
.dataHome >svg{
    font-size:3rem;
    color:red;
    flex:7%;
    text-align:center;
}