.footer {
    width: 100%;
    height: 30rem;
    color: #fff;
    background-color: #181821;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
  }
  .footer-content {
    width: 90%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .footer-introduce {
    width: 40%;
  }
  
  .aboutUs {
    width: 20%;
  }
  .help {
    width: 20%;
    margin-left: auto;
  }
  
  .footer h1 {
    margin-bottom: 1rem;
    font-size:3rem
  }
  .footer p {
    font-size: 1.3rem;
  }
  
  .footer-home {
    width: 34%;
    height: auto;
    margin: 0 auto;
    display: flex;
  }
  
  .footer-home svg {
    height: 5rem;
    width: 5rem;
    color: #136EFB;
  }
  
  .footer-home  h1 {
    font-size: 3rem;
    padding-top: 0.8rem;
  }
  .footer-home span {
    font-size: 1rem;
  }
  .footer-home a svg {
    height: 3.5rem;
    width: 3.5rem;
    margin-left: 1rem;
  }
  .footer-home p {
    text-align: end;
    padding-top:3rem;
    margin-left: 2rem;
  }