.forgot-page{
    z-index:1000;
    background-color: rgb(255, 255, 255);
    width:100rem;
    height: 70rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
}
.forgot-content{
    opacity: 1;
    text-align: center;
    flex:40%;
    margin-top:15rem;
    font-size:1.8rem;
    color: #254E63;
}

.forgot-content >h1{
    font-weight: bold;
    margin-top:8rem;
 }
 .forgot-content >P{
    font-size:1.3rem;
 }
.forgot-content >form{
    margin-top:2rem;
    margin-right:1rem;
}

.forgot-content input{
    height:4rem;
    width:72%;
    margin-bottom: 2rem;
    border:1px solid rgba(0, 0, 0, 0.252);
    border-radius: 0.7rem;
    padding-left: 1rem;
    margin-left :1rem;
    font-size:1.7rem;
}

label{
    margin-right: 17.5rem;
}
.back{
    cursor:pointer;
    color:#254E63;
    font-weight: bold;
}
.btn-forgot{
    height:4rem;
    width:70%;
    border:1px solid rgba(0, 0, 0, 0.252);
    border-radius:0.7rem;
    margin-left: 6rem;
    background-color:#254E63;
    color :white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size:1.7rem;
    padding-left:1rem;
    cursor:pointer;
}

.btn-forgot svg{
    font-size:5rem;
    color:#50efff;
}